
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Mynerve&family=Permanent+Marker&display=swap');

body {
    margin: 0px;
    padding: 0px;
}

main {
    padding: 16px;
    font-family: 'Didact Gothic', sans-serif;
    background-color: rgb(249, 237, 223);
}

footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0px;
    background-color: rgb(201, 159, 192);
    padding: 2%;
    font-family: 'Permanent Marker', cursive;
}

img {
    height: 200px;
}

nav {
    border: 1px solid black;
    padding: 16px;
    font-family: 'Didact Gothic', sans-serif;
    background-color: rgb(27, 145, 107)
}

tr:nth-child(even){
    background-color: lightgray;
}

.detail_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}


a {
    text-decoration: none;
  }


h1 {
    color: rgb(138, 54, 138);
    font-family: 'Mynerve', cursive;
}

.pics {
    height: 150px;
    box-shadow: 0px 0px 0px 0px black;
    transition: box-shadow 0.5s ease-in-out;
    border-radius: 0px;
    transition: 1s ease-in-out;
  }

.pics:hover {
    height: 155px;
    box-shadow: 0px 2px 4px 1px black;
    border-radius: 50px;
    opacity: .7
  }
